<div data-uk-grid class="yb-box-services uk-child-width-1-4@l uk-child-width-1-2 uk-text-center uk-grid-divider">
    <div>
      <div class="yb-box-service">
        <span class="uk-icon" data-uk-icon="icon: phone; ratio: 1.5"></span>
        <h5>{{ section.settings.service-mobile }}</h5>
      </div>
    </div>
    <div>
      <div class="yb-box-service">
        <span class="uk-icon" data-uk-icon="icon: paint-bucket; ratio: 1.5"></span>
        <h5>{{ section.settings.service-theme }}</h5>
      </div>
    </div>
    <div>
      <div class="yb-box-service">
        <span class="uk-icon" data-uk-icon="icon: world; ratio: 1.5"></span>
        <h5>{{ section.settings.service-web }}</h5>
      </div>
    </div>
    <div>
      <div class="yb-box-service">
        <span class="uk-icon" data-uk-icon="icon: settings; ratio: 1.5"></span>
        <h5>{{ section.settings.service-tester }}</h5>
      </div>
    </div>
</div>