<h2 class="yb-section-title uk-heading-line" id="education">
  <span>Education</span>
</h2>
<div class="yb-resume-list">
  <ul class="uk-list uk-list-large uk-list-divider">
    <li>
      <div class="yb-resume-item">
        <div class="yb-resume-item-date">
          <div class="yb-resume-item-date-icon">
            <span data-uk-icon="calendar"></span>
          </div>
          <div class="yb-resume-item-date-text">
            <span>2011 - 2013</span>
          </div>
        </div>
        <h4 class="yb-section-title">
          Bachelor of Science in Computer Science
        </h4>
        <strong>International University</strong>
        <div class="uk-text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incidiei dunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam quis nostrud
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="yb-resume-item">
        <div class="yb-resume-item-date">
          <div class="yb-resume-item-date-icon">
            <span data-uk-icon="calendar"></span>
          </div>
          <div class="yb-resume-item-date-text">
            <span>2008 - 2011</span>
          </div>
        </div>
        <h4 class="yb-section-title">
          Computer Processing Systems/Computer Software
        </h4>
        <strong>Longford Tech</strong>
        <div class="uk-text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incidiei dunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam quis nostrud
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
