<div
  class="
    uk-width-1-4@s uk-visible@s uk-margin-large-bottom
    yb-section-padding-top
  "
  id="resume-nav-wrapper"
>
  <div data-uk-sticky="bottom: #resume-nav-wrapper; offset: 100; media: 650">
    <ul
      class="yb-nav-left uk-tab-left uk-tab"
      data-uk-scrollspy-nav="closest: li; scroll: false; offset: 120"
    >
      <li class="uk-active">
        <a href="#education" class="yb-inner-link" data-offset="120">
          <span data-uk-icon="minus"></span>
          Education
        </a>
      </li>
      <li>
        <a href="#experience" class="yb-inner-link" data-offset="120">
          <span data-uk-icon="minus"></span>
          Experience
        </a>
      </li>
      <li>
        <a href="#skills" class="yb-inner-link" data-offset="120">
          <span data-uk-icon="minus"></span>
          Skills
        </a>
      </li>
    </ul>
  </div>
</div>
