<h2 class="yb-section-title uk-heading-line" id="experience">
  <span>Experience</span>
</h2>
<div class="yb-resume-list">
  <ul class="uk-list uk-list-large uk-list-divider">
    <li>
      <div class="yb-resume-item">
        <div class="yb-resume-item-date">
          <div class="yb-resume-item-date-icon">
            <span data-uk-icon="calendar"></span>
          </div>
          <div class="yb-resume-item-date-text">
            <span>2018 - Present</span>
          </div>
        </div>
        <h4 class="yb-section-title">Software Developer</h4>
        <strong>River Tech</strong>
        <div class="uk-text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incidiei dunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam quis nostrud
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="yb-resume-item">
        <div class="yb-resume-item-date">
          <div class="yb-resume-item-date-icon">
            <span data-uk-icon="calendar"></span>
          </div>
          <div class="yb-resume-item-date-text">
            <span>2016 - 2018</span>
          </div>
        </div>
        <h4 class="yb-section-title">Web Designer</h4>
        <strong>Retail Ocean</strong>
        <div class="uk-text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incidiei dunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam quis nostrud
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="yb-resume-item">
        <div class="yb-resume-item-date">
          <div class="yb-resume-item-date-icon">
            <span data-uk-icon="calendar"></span>
          </div>
          <div class="yb-resume-item-date-text">
            <span>2014 - 2016</span>
          </div>
        </div>
        <h4 class="yb-section-title">Web Marketing</h4>
        <strong>Proper Team</strong>
        <div class="uk-text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incidiei dunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam quis nostrud
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="yb-resume-item">
        <div class="yb-resume-item-date">
          <div class="yb-resume-item-date-icon">
            <span data-uk-icon="calendar"></span>
          </div>
          <div class="yb-resume-item-date-text">
            <span>2013 - 2014</span>
          </div>
        </div>
        <h4 class="yb-section-title">Web Tester</h4>
        <strong>Ota Group</strong>
        <div class="uk-text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incidiei dunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam quis nostrud
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
