<!-- main footer -->
<footer class="yb-main-footer-wrapper">
  <div class="waveHorizontals">
    <div id="waveHorizontal1" class="waveHorizontal" data-uk-img data-src="{{ 'wave1.svg' | asset_url}}"></div>
    <div id="waveHorizontal2" class="waveHorizontal" data-uk-img data-src="{{ 'wave2.svg' | asset_url}}"></div>
    <div id="waveHorizontal3" class="waveHorizontal" data-uk-img data-src="{{ 'wave3.svg' | asset_url}}"></div>
  </div>
  <a href="#body-app" class="uk-visible@s yb-totop yb-inner-link" data-uk-totop></a>
  <div class="yb-main-footer">
    <div class="uk-container">
      <div data-uk-grid class="uk-child-width-1-2@s">
        <div class="uk-margin-remove uk-text-left@s">
          JM Works 2021.
        </div>
        <div class="uk-margin-remove uk-text-right@s">
          <div class="yb-footer-social">
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end main footer -->